In [3]:
import numpy as np
import matplotlib as plt
import pandas as pd
import datetime
import csv

Aim: trying to change the first column data of our csv file from Julian date of observation to Gregorian Calender (What we use today)

In [4]:
#Pseudocode
#read from csv file
#Read column1 into some kind of list/array
#then you want to iterate through this array and Use Julian date of observation to gregorian calender format you want
#After loop maybe do another if formating is weird
#Save column 1 with untouched column 2 and column 3 into a new CSV file

In [10]:
file = open('structured_data.csv')
type(file)
csvreader = csv.reader(file)
header = []
header = next(csvreader)
print("Headers:\n", header)

rows = []
column_1 = []
column_2 = []
column_3 = []


for row in csvreader:
    rows.append(row)
    column_1.append(float(row[0]))
    column_2.append(float(row[1]))
    column_3.append(float(row[2]))

Headers:
 ['JD double days', 'RV double m/s', 'RV uncertainty double m/s']

In [11]:
print("Full data:\n", rows)

Full data:
 [['2450830.958715', '-19.2', '6.8'], ['2451121.019444', '-12.4', '7.8'], ['2451385.310558', '32.0', '12.0'], ['2451411.202523', '6.0', '13.0'], ['2451473.085035', '-11.9', '7.2'], ['2451525.925093', '6.4', '8.5'], ['2451526.953241', '-5.7', '6.2'], ['2451683.331377', '36.4', '8.0'], ['2451743.276539', '34.5', '7.3'], ['2451745.264167', '37.0', '11.0'], ['2451767.269896', '4.2', '8.0'], ['2451768.254167', '11.1', '6.7'], ['2451828.060718', '-9.4', '9.1'], ['2451856.064294', '-33.0', '11.0'], ['2451856.924977', '-4.0', '15.0'], ['2451918.940718', '6.5', '8.5'], ['2452061.295943', '31.9', '7.2'], ['2452092.26831', '17.7', '6.9'], ['2452093.287558', '2.3', '7.2'], ['2452127.222951', '-11.8', '7.9'], ['2452128.154549', '-3.1', '7.9'], ['2452130.243345', '-26.7', '7.6'], ['2452151.211262', '-20.9', '6.6'], ['2452152.078565', '-14.1', '8.4'], ['2452154.154874', '-28.5', '6.5'], ['2452187.099977', '-14.1', '5.8'], ['2452188.035961', '-16.8', '6.1'], ['2452189.019914', '-30.4', '5.8'], ['2452190.003277', '-20.9', '5.5'], ['2452423.329769', '7.1', '6.1'], ['2452425.337593', '-9.7', '6.5'], ['2452456.32088', '-30.4', '6.9'], ['2452477.24794', '-23.6', '6.7'], ['2452511.098449', '-18.2', '6.3'], ['2452654.91588', '3.7', '9.1'], ['2452784.327222', '-13.5', '6.5'], ['2452857.238138', '-23.2', '4.7'], ['2452861.306343', '-30.0', '10.0'], ['2452946.039641', '-26.7', '7.4'], ['2453007.977963', '-12.2', '7.9'], ['2453041.954097', '20.8', '9.2'], ['2453042.908819', '11.3', '9.0'], ['2453215.278512', '-56.6', '4.6'], ['2453243.282859', '-49.4', '7.3'], ['2453244.226759', '-57.0', '7.5'], ['2453246.094075', '-51.5', '5.4'], ['2453281.137674', '-52.4', '7.1'], ['2453509.333833', '-44.6', '3.8'], ['2453516.331238', '-50.1', '4.2'], ['2453570.301761', '-68.5', '3.6'], ['2453576.22042', '-59.7', '3.0'], ['2453579.274858', '-55.9', '3.2'], ['2453632.196664', '-92.3', '3.6']]

In [12]:
print("Column 1: \n", column_1)

Column 1:
 [2450830.958715, 2451121.019444, 2451385.310558, 2451411.202523, 2451473.085035, 2451525.925093, 2451526.953241, 2451683.331377, 2451743.276539, 2451745.264167, 2451767.269896, 2451768.254167, 2451828.060718, 2451856.064294, 2451856.924977, 2451918.940718, 2452061.295943, 2452092.26831, 2452093.287558, 2452127.222951, 2452128.154549, 2452130.243345, 2452151.211262, 2452152.078565, 2452154.154874, 2452187.099977, 2452188.035961, 2452189.019914, 2452190.003277, 2452423.329769, 2452425.337593, 2452456.32088, 2452477.24794, 2452511.098449, 2452654.91588, 2452784.327222, 2452857.238138, 2452861.306343, 2452946.039641, 2453007.977963, 2453041.954097, 2453042.908819, 2453215.278512, 2453243.282859, 2453244.226759, 2453246.094075, 2453281.137674, 2453509.333833, 2453516.331238, 2453570.301761, 2453576.22042, 2453579.274858, 2453632.196664]

In [13]:
print("Column 2: \n", column_2)

Column 2:
 [-19.2, -12.4, 32.0, 6.0, -11.9, 6.4, -5.7, 36.4, 34.5, 37.0, 4.2, 11.1, -9.4, -33.0, -4.0, 6.5, 31.9, 17.7, 2.3, -11.8, -3.1, -26.7, -20.9, -14.1, -28.5, -14.1, -16.8, -30.4, -20.9, 7.1, -9.7, -30.4, -23.6, -18.2, 3.7, -13.5, -23.2, -30.0, -26.7, -12.2, 20.8, 11.3, -56.6, -49.4, -57.0, -51.5, -52.4, -44.6, -50.1, -68.5, -59.7, -55.9, -92.3]

In [14]:
print("Column 3: \n", column_3)

Column 3:
 [6.8, 7.8, 12.0, 13.0, 7.2, 8.5, 6.2, 8.0, 7.3, 11.0, 8.0, 6.7, 9.1, 11.0, 15.0, 8.5, 7.2, 6.9, 7.2, 7.9, 7.9, 7.6, 6.6, 8.4, 6.5, 5.8, 6.1, 5.8, 5.5, 6.1, 6.5, 6.9, 6.7, 6.3, 9.1, 6.5, 4.7, 10.0, 7.4, 7.9, 9.2, 9.0, 4.6, 7.3, 7.5, 5.4, 7.1, 3.8, 4.2, 3.6, 3.0, 3.2, 3.6]

In [25]:
def julianDateToStandard(jdate):
    fmt = '%Y%j'
    datestd = datetime.datetime.strptime(jdate, fmt).date()
    return datestd

In [23]:
#for i in range(len(column_1)):
    #print(column_1[i])

In [26]:
julianDateToStandard('2450830')

ValueError: unconverted data remains: 0

In [28]:
print("Column 1: \n", column_1)

Column 1:
 [2450830.958715, 2451121.019444, 2451385.310558, 2451411.202523, 2451473.085035, 2451525.925093, 2451526.953241, 2451683.331377, 2451743.276539, 2451745.264167, 2451767.269896, 2451768.254167, 2451828.060718, 2451856.064294, 2451856.924977, 2451918.940718, 2452061.295943, 2452092.26831, 2452093.287558, 2452127.222951, 2452128.154549, 2452130.243345, 2452151.211262, 2452152.078565, 2452154.154874, 2452187.099977, 2452188.035961, 2452189.019914, 2452190.003277, 2452423.329769, 2452425.337593, 2452456.32088, 2452477.24794, 2452511.098449, 2452654.91588, 2452784.327222, 2452857.238138, 2452861.306343, 2452946.039641, 2453007.977963, 2453041.954097, 2453042.908819, 2453215.278512, 2453243.282859, 2453244.226759, 2453246.094075, 2453281.137674, 2453509.333833, 2453516.331238, 2453570.301761, 2453576.22042, 2453579.274858, 2453632.196664]

In [34]:
#chat gpt version 
def julianDateV2(jdate1):
    baseDate = datetime.datetime(2000, 1, 1)
    days = int(jdate1) - 2451545 #Subtract the Julian date of J2000 epoch 
    
    #Add the fractional part of the Julian date as seconds
    seconds = round((jdate1 % 1) * 24 * 60 * 60)
    delta = datetime.timedelta(days = days, seconds = seconds)
    
    
    datestd = baseDate + delta
    return datestd.date().strftime('%Y-%m-%d')

In [35]:
convert_data = julianDateV2(2450830.958715)
print(convert_data)

1998-01-16

In [38]:
column_1NEW = []
for i in range(len(column_1)):
    conversion = julianDateV2(column_1[i])
    print(conversion)
    column_1NEW.append(conversion)

1998-01-16
1998-11-03
1999-07-25
1999-08-20
1999-10-21
1999-12-12
1999-12-13
2000-05-18
2000-07-17
2000-07-19
2000-08-10
2000-08-11
2000-10-10
2000-11-07
2000-11-07
2001-01-08
2001-05-31
2001-07-01
2001-07-02
2001-08-05
2001-08-06
2001-08-08
2001-08-29
2001-08-30
2001-09-01
2001-10-04
2001-10-05
2001-10-06
2001-10-07
2002-05-28
2002-05-30
2002-06-30
2002-07-21
2002-08-24
2003-01-14
2003-05-24
2003-08-05
2003-08-09
2003-11-02
2004-01-02
2004-02-05
2004-02-06
2004-07-28
2004-08-25
2004-08-26
2004-08-28
2004-10-02
2005-05-18
2005-05-25
2005-07-18
2005-07-24
2005-07-27
2005-09-18

In [39]:
print(column_1NEW)

['1998-01-16', '1998-11-03', '1999-07-25', '1999-08-20', '1999-10-21', '1999-12-12', '1999-12-13', '2000-05-18', '2000-07-17', '2000-07-19', '2000-08-10', '2000-08-11', '2000-10-10', '2000-11-07', '2000-11-07', '2001-01-08', '2001-05-31', '2001-07-01', '2001-07-02', '2001-08-05', '2001-08-06', '2001-08-08', '2001-08-29', '2001-08-30', '2001-09-01', '2001-10-04', '2001-10-05', '2001-10-06', '2001-10-07', '2002-05-28', '2002-05-30', '2002-06-30', '2002-07-21', '2002-08-24', '2003-01-14', '2003-05-24', '2003-08-05', '2003-08-09', '2003-11-02', '2004-01-02', '2004-02-05', '2004-02-06', '2004-07-28', '2004-08-25', '2004-08-26', '2004-08-28', '2004-10-02', '2005-05-18', '2005-05-25', '2005-07-18', '2005-07-24', '2005-07-27', '2005-09-18']

In [40]:
# Combine the columns into a list of rows
rows = zip(column_1NEW, column_2, column_3) 

#Define the CSV file path
csv_file = 'dataFormatted.csv'

#Open the CSV file in write mode
with open(csv_file, 'w', newline = '') as file:
    writer = csv.writer(file)
    
    #write the header row 
    writer.writerow(['Date of observation', 'RV double m/s', 'RV uncertainty double m/s'])
    
    #write the data rows
    writer.writerows(rows)

In [41]:
# Combine the columns into a list of rows
rows = zip(column_1NEW, column_2) 

#Define the CSV file path
csv_file = 'dataFormatSimple.csv'

#Open the CSV file in write mode
with open(csv_file, 'w', newline = '') as file:
    writer = csv.writer(file)
    
    #write the header row 
    writer.writerow(['Date of observation', 'RV double m/s'])
    
    #write the data rows
    writer.writerows(rows)